.first-block {
  width: 1030px;
}

.productList {
  display: flex;
  flex-wrap: wrap;
}

#productCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  margin: 10px;
  width: 241px;

  border-radius: 20px;
}

.productCard_logo {
  margin: 0 auto;

  height: 150px;
  width: 190px;

  border: 0;
  border-radius: 10px;
}

@media screen and (max-width: 991px) {
  .first-block {
    width: 830px;
  }

  #productCard {
    width: 250px;
  }

  .productCard_logo {
    width: 90%;
  }
}

@media screen and (max-width: 750px) {
  .first-block {
    width: 830px;
  }

  #productCard {
    width: 170px;
  }

  .productCard_logo {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  #productCard {
    width: 200px;
  }

  .productCard_logo {
    width: 90%;
  }
}
